<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>

</head>
<body>
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <img src="assets/m.png" alt="Logo" style="width: 50px; height: 50px; margin-left: -80px;">
            <ul class="nav">
              <li><a href="index.html" class="active">Home</a></li>
              <li><a href="browse.html">Browse</a></li>
              <li><a href="details.html">Details</a></li>
              <li><a href="streams.html">Streams</a></li>
              <li><a href="profile.html">Profile <img src="assets/a2.jpeg" alt="Profile" style="width: 20px; height: 20px;"></a></li>
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="form">
      <div class="title">Welcome 👋</div>
      <div class="subtitle">Let's log to your account!</div>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="input-container ic2">
        <input id="email" name="email" [(ngModel)]="email" class="input" type="text" placeholder="Email" required />
        <div class="cut cut-short"></div>
        <label for="email" class="placeholder">Email</label>
      </div>
      <div class="input-container ic1">
        <input id="password" name="password" [(ngModel)]="password" class="input" type="password" placeholder="Password" required />
        <div class="cut"></div>
        <label for="password" class="placeholder">Password</label>
      </div>
      <button type="submit" class="submit">Submit</button>
      <p class="acc">Don't have an account? <span class="login"><a href="/reg">Register</a></span></p>
      <p class="or">Or login via</p>
      <div class="social">
        <img src="assets/facebook.jpg" alt="Facebook" style="width: 30px; height: 30px; margin-right: 10px;">
        <img src="assets/gmail.jpg" alt="Gmail" style="width: 30px; height: 30px;">
      </div>
    </form></div>
  </main>
</body>
</html>
