<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="nice-form-group">
      <label for="name">Product name</label>
      <input id="name" formControlName="name" type="text" placeholder="Product name" />
    </div>
  
    <div class="nice-form-group">
      <label for="brand">Brand</label>
      <input id="brand" formControlName="brand" type="text" placeholder="Brand" />
    </div>
  
    <div class="nice-form-group">
      <label for="stockQuantity">Stock quantity</label>
      <input id="stockQuantity" formControlName="stockQuantity" type="number" placeholder="Stock quantity" />
    </div>
  
    <div class="nice-form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" rows="5" placeholder="Description"></textarea>
    </div>
  
    <div class="nice-form-group">
      <label for="price">Price</label>
      <input id="price" formControlName="price" type="number" placeholder="Price" />
    </div>
  
    <div class="nice-form-group">
      <label for="color">Color</label>
      <input id="color" formControlName="color" type="color" />
    </div>
  
    <div class="nice-form-group">
      <label for="category">Category</label>
      <select id="category" formControlName="category">
        <option value="Tshirt">Tshirt</option>
        <option value="shoes">Shoes</option>
      </select>
    </div>
  
    <div class="nice-form-group">
      <label for="available">Availability</label>
      <input id="available" formControlName="available" type="checkbox" /> Available
      <input id="notAvailable" formControlName="notAvailable" type="checkbox" /> Not Available
    </div>
  
    <button type="submit" class="btn">Add product</button>
  </form>
  