
<div class="contain">
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
             
                    <a href="index.html" class="logo">
                        <img src="assets/m.png" alt="" style="width: 45%;height:50%;margin-left:-80px;">
                    </a>
            
                    <div class="search-input">
                      <form id="search" action="#">
                        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                        <i class="fa fa-search"></i>
                      </form>
                    </div>
                    
                    <ul class="nav">
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="browse.html">Browse</a></li>
                        <li><a href="details.html">Details</a></li>
                        <li><a href="streams.html">Streams</a></li>
                        <li><a href="profile.html">Profile <img src="/commerce/src/assets/a2.jpeg" alt=""></a></li>
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                  
                </nav>
            </div>
        </div>
    </div>

  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6 id="h6">Welcome To Cyborg</h6>
                 
                  <div class="main-button">
                    <a href="browse.html">Browse Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>

  <!-- ***** Header Area End ***** -->

          <!-- ***** Banner End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Most Popular</em> Right Now</h4>
                </div>
          
                <!-- Première ligne de 3 images -->
                <section id="n">
                  <h1>Nos coaches sont là pour vous</h1>
                  <div class="values-container">
                  
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="'../../assets/m4.jpg" alt="Écoute">
                      </div>
                      <h3>Benjamin Lee</h3>
                    </div>
                    
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="../../assets/m6.jpg" alt="Conseil">
                      </div>
                      <h3>Grace Harris</h3>
                    </div>
                    
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="../../assets/m5.jpeg" alt="Créativité">
                      </div>
                      <h3>Alexander White</h3>
                    </div>
                    
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="../../assets/m2.jpeg" alt="Satisfaction Client">
                      </div>
                      <h3>Ethan Jackson</h3>
                    </div>
                    
                  </div><div class="main-button">
                    <a href="browse.html">Browse Now</a>
                  </div>
                </section>
          
                <!-- Deuxième ligne de 3 images -->
                <section id="n">
                  <h1>Nos coaches sont là pour vous</h1>
                  <div class="values-container">
                  
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="../../assets/b2.jpg" alt="Écoute">
                      </div>
                      <h3>Benjamin Lee</h3>
                    </div>
                    
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="../../assets/a1.jpg" alt="Conseil">
                      </div>
                      <h3>Grace Harris</h3>
                    </div>
                    
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="../../assets/a2.jpeg" alt="Créativité">
                      </div>
                      <h3>Alexander White</h3>
                    </div>
                    
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="../../assets/a3.jpg" alt="Satisfaction Client">
                      </div>
                      <h3>Ethan Jackson</h3>
                    </div>
                    
                  </div>
                  <div class="main-button">
                    <a href="browse.html">Browse Now</a>
                  </div>
                </section>
          
                <!-- Troisième ligne de 2 images et le bouton -->
                <section id="n">
                  <h1>Nos coaches sont là pour vous</h1>
                  <div class="values-container">
                  
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="../../assets/m5.jpeg" alt="Écoute">
                      </div>
                      <h3>Benjamin Lee</h3>
                    </div>
                    
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="../../assets/m5.jpeg" alt="Conseil">
                      </div>
                      <h3>Grace Harris</h3>
                    </div>
                    
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="../../assets/m5.jpeg" alt="Créativité">
                      </div>
                      <h3>Alexander White</h3>
                    </div>
                    
                    <div class="value">
                      <div class="icon">
                        <i class='fa fa-quote-left icon'></i>
                        <img src="../../assets/m5.jpeg" alt="Satisfaction Client">
                      </div>
                      <h3>Ethan Jackson</h3>
                    </div>
                   
                  </div><div class="main-button">
                    <a href="browse.html">Browse Now</a>
                  </div>
                </section>
          
              </div>
            </div>
          </div>
          
          <!-- ***** Most Popular End ***** -->

          <!-- ***** Gaming Library Start ***** -->
          <div class="gaming-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Your Gaming</em> Library</h4>
              </div>
              <div class="item">
                <ul>
                  <li><img src="assets/b1.jpeg"  alt="" class="templatemo-item"></li>
                  <li><h4>Dota 2</h4><span>Sandbox</span></li>
                  <li><h4>Date Added</h4><span>24/08/2036</span></li>
                  <li><h4>Hours Played</h4><span>634 H 22 Mins</span></li>
                  <li><h4>Currently</h4><span>Downloaded</span></li>
                  <li><div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div></li>
                </ul>
              </div>
              <div class="item">
                <ul>
                  <li><img src="assets/b2.jpg"  alt="" class="templatemo-item"></li>
                  <li><h4>Fortnite</h4><span>Sandbox</span></li>
                  <li><h4>Date Added</h4><span>22/06/2036</span></li>
                  <li><h4>Hours Played</h4><span>740 H 52 Mins</span></li>
                  <li><h4>Currently</h4><span>Downloaded</span></li>
                  <li><div class="main-border-button"><a href="#">Donwload</a></div></li>
                </ul>
              </div>
              <div class="item last-item">
                <ul>
                  <li><img src="assets/b3.jpeg"  alt="" class="templatemo-item"></li>
                  <li><h4>CS-GO</h4><span>Sandbox</span></li>
                  <li><h4>Date Added</h4><span>21/04/2036</span></li>
                  <li><h4>Hours Played</h4><span>892 H 14 Mins</span></li>
                  <li><h4>Currently</h4><span>Downloaded</span></li>
                  <li><div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button">
                <a href="profile.html">View Your Library</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  <footer>
    <div class="container3">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2036 <a href="#">E-commerce</a> Company. All rights reserved. 
      
        </div>
      </div>
    </div>
  </footer>
